* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-text: wheat;
  --shadow: rgba(94, 94, 94, 0.75);

}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(238, 238, 207);
}

section {
  padding: 20px 0;
}

h1, h2 {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header {
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(27, 89, 69, 0.75);
  z-index: 100;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

header h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: 45px;
  margin: 0;
  color:var(--light-text);
}

header a {
  text-decoration: none;
  color:var(--light-text);
}

header nav {
  display: flex;
  align-items: center;
  margin: 7px 0;
  color:var(--light-text);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px var(--shadow);
}

header nav ul li a:hover {
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75);
  font-size: 1.75vw;
}

/* Hero Image */
.hero {
  height: 400px;
  width: 100%;
  background-image: url("./images/palmfronds.png");
  background-size: cover;
}

/* Picture of me */
.moi {
  width: 250px;
  display: inline-flex;
}

.moi img {
  width: 100%;
  border-radius: 10%;
  position: relative;
  top: 10px;
  left: 50px;
  align-self: flex-end;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}


.page-content {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 0 100px 0;
}

/* Begin 'project tile' styles */
.projects-grid-container {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-gap: 10px;
}

.projects-grid-item {
  width: 1fr;
  height: 1fr;
  padding: 1em;
  background-color: gray;
  border: solid black;
  border-radius: 10%;
}

.project1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.section-heading {
  width: 20%;
  padding: 25px;
  text-align: right;
  border-right: 5px solid darkgray;
}

.section-heading h2 {
  padding: 20px;
  font-size: 36px;
}

.section-content {
  padding: 50px;
  width: 80%;
  align-content: center;
}

.flex-row {
  display: block;
}

.side-border {
  border-right: 4px dotted darkgray;
}


