* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-text: rgb(230, 255, 248);
  --shadow: rgba(94, 94, 94, 0.75);
  --darkshadow: 0 0 5px rgba(0, 0, 0, 0.5);

}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(245, 252, 250);
}

section {
  padding: 10px 0;
}

h1 {
  text-shadow: var(--darkshadow);
}

h2 {
  color: rgb(50, 53, 53);
}

header {
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgba(27, 89, 52, 0.75);
  z-index: 100;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

header h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: 45px;
  margin: 0;
  color:var(--light-text);
}

header a, h3, h4 {
  text-decoration: none;
  color:var(--light-text);
}

header nav {
  display: flex;
  align-items: center;
  margin: 7px 0;
  color:var(--light-text);
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px var(--shadow);
}

header nav ul li a:hover {
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75);
  font-size: 1.75vw;
}

/* Hero Image */
.hero {
  height: 400px;
  width: 100%;
  background-image: url("./images/palmfronds.png");
  background-size: cover;
}

/* Picture of me */
.moi {
  width: 250px;
  display: inline-flex;
}

.moi img {
  width: 100%;
  border-radius: 10%;
  position: relative;
  top: 10px;
  left: 50px;
  align-self: flex-end;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.page-content {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 0 100px 0;
}


/* Begin 'My Work' styles */
.projects-grid-container {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.projects-grid-item {
  background-color: gray;
  border: 4px solid gray;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.project-content {
  min-height: 300px;
  display: flex;
  padding: 15px;
  align-items: flex-end;
  position: relative;
}

.project-content-small {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.project-card {
  padding: 15px;
  margin-bottom: 10px;
  position: relative;
  z-index: 10;
}

.project-card a {
  text-decoration: none;
}

.card-text {
  background-color: var(--shadow);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin-top: auto;
  width: auto;
  padding: 10px 5px;
  text-align: center;
}

.card-text:hover {
  width: 110%;
  height: 110%;
  position: relative;
}

.card-text h3 {
  font-size: 1rem;
}

.card-text h4 {
  font-size: .7rem;
}

.project1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url("./images/hero-bg (1).jpg");
  background-size: 200%;
  background-position: 75% 50%;
  background-repeat: no-repeat;
  text-decoration: none;
}

.project2 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: -4;
  grid-row-end:-3;
  background-image: url("./images/horiseon.png");
  background-size: 100%;
  background-position: 75% 50%;
  background-repeat: no-repeat;
}

.project3 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: -3;
  grid-row-end:-2;
  background-image: url("./images/random.png");
  background-size: 100%;
  background-position: 75% 50%;
  background-repeat: no-repeat;
}

.project4 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: -2;
  grid-row-end:-1;
  background-image: url("./images/dogs.png");
  background-size: 100%;
  background-position: 75% 50%;
  background-repeat: no-repeat;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.flex-row {
  display: flex;
}

.section-heading {
  width: 20%;
  padding: 25px;
  text-align: right;
  border-right: 4px dotted darkgray;
  min-width: auto;
  padding-inline-end: inherit;
}

.section-heading h2 {
  padding: 20px;
  font-size: 36px;
}

.section-content {
  padding: 50px;
  width: 80%;
  flex-wrap: wrap;
}


.contact {
  margin: 50px auto;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 100px;
}

.contact-item {
  align-self: center;
  padding: 10px;
  margin: 10px;
}

.contact-item:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75);
}

.contact-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contact-text {
  flex: 12;
}



/* Begin Media Queries */
/* MOBILE PHONES AND SMALLER */

@media screen and (max-width: 980px) {

header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
}

header h1 {
  width: 100%;
  text-align: center;
}

header nav ul {
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}

header nav ul li a {
  font-size: 20px;
}


/* .moi {
  align-items: center;
  position: center;
} */

.section-heading {
  width: 80%;
  text-align: center;
  padding: 5px;
  margin: none;
  border-right-width: 0;
  border-bottom: 4px dotted darkgray;
}

.moi {
  width: 250px;
  display: inline-flex;
}

.moi img {
  width: 100%;
  border-radius: 10%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.page-content {
  margin: 0 auto;
}


@media screen and (max-width:768px) {
  section {
      padding: 30px 15px;
  }

#about-me {
    flex: 1 100%;
    text-align: center;
}

.step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
}

.step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.step-text {
    flex: 100%;
}

.trainer-img h3, .trainer-img h3, .trainer-img h4, .trainer-img::after {
    display: none;
}